{% extends 'default.html' %}

{% block title %}
    Объявление
{% endblock title %}

{% block content %}
    <hr>
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Категория </td>
                <td> Текст статьи </td>
            </tr>

            <tr>
                <td>{{ bulletin.title }}</td>
                <td>{{ bulletin.category }}</td>
                <td>{{ bulletin.text }}</td>

            </tr>
        </table>


<a href="{% url 'socproject:respcreate' bulletin.id %}"> Оставить отклик </a>



{% endblock content %}