{% extends 'default.html' %}

{% block title %}
    Объявление
{% endblock title %}

{% block content %}
    <hr>
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Категория </td>
                <td> Текст статьи </td>
            </tr>

            <tr>
                <td>{{ bulletin.title }}</td>
                <td>{{ bulletin.category }}</td>
                <td>{{ bulletin.text }}</td>

            </tr>
        </table>

{% if user == user.is_authenticated %}
     <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.as_table }}
                <input type="submit" value="Отправить отклик">
            </div>
        </form>
    {% endif %}
{% endblock content %}