{% extends 'default.html' %}


{% block content %}
<h1>Удаление объявления</h1>
    <hr>
{% if user == bulletin_author %}
       <table style="height: 31px; margin-left: auto; margin-right: auto; width: 1800px;">
           <tbody>
               <tr>
                  <td>
                   <form action="" method="post">
                   {% csrf_token %}
                   <p>Удаляем "{{ object.title }}"?</p>
                   <input type="submit" value="Удалить" />
                   </form>
                  </td>
               </tr>
{% else %}
<h3>Это не Ваше!</h3>
{% endif %}
{% endblock content %}
