
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>!</title>
        {% load static %}
        <link  rel='stylesheet' type='text/css' href=" {% static 'css/styl.css' %}"/>

    </head>
    <body>
        <div class="container">
            <div class="text-center mt-5">
               <a href="{% url 'socproject:bulletins' %}">Главная</a><br>
               <a href="{% url 'socproject:bulletincreate' %}">Создать объявление</a><br>
                <a href="http://127.0.0.1:8000/accounts/">Вход и регистрация</a><br>
               <p class="lead">{% block content %}{% endblock content %}</p>
            </div>
        </div>
    </body>
</html>
